body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
}

article {
  flex: 2;
  padding: 10px;
}

aside {
  flex: 1;
  padding: 10px;
}

header,
footer {
  background-color: #f2f2f2;
  padding: 10px;
}
